@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#eef3f7;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

/* Container */

.login-container{

width:1200px;

height:700px;

display:flex;

background:#fff;

border-radius:20px;

overflow:hidden;

box-shadow:0 20px 40px rgba(0,0,0,.12);

}

/* Left */

.left-panel{

width:40%;

background:linear-gradient(135deg,#0b6b43,#198754);

color:#fff;

padding:50px;

display:flex;

flex-direction:column;

justify-content:space-between;

}

.logo i{

font-size:60px;

}

.logo h2{

margin-top:15px;

font-weight:700;

}

.logo p{

font-size:20px;

}

.welcome h1{

font-size:40px;

font-weight:700;

margin-bottom:20px;

}

.welcome p{

font-size:18px;

line-height:1.8;

}

/* Right */

.right-panel{

width:60%;

display:flex;

justify-content:center;

align-items:center;

background:#fff;

}

.login-box{

width:500px;

}

.icon{

width:90px;

height:90px;

margin:auto;

background:#d1fae5;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

}

.icon i{

font-size:45px;

color:#198754;

}

.login-box h2{

margin-top:20px;

text-align:center;

font-weight:700;

}

.login-box p{

text-align:center;

color:#777;

margin-bottom:30px;

}

.input-group-text{

background:#198754;

color:#fff;

border:none;

}

.form-control{

height:50px;

}

.form-control:focus{

box-shadow:none;

border-color:#198754;

}

.login-btn{

height:50px;

font-size:18px;

font-weight:600;

}

.login-btn:hover{

background:#157347;

}

a{

text-decoration:none;

color:#198754;

font-weight:500;

}

a:hover{

text-decoration:underline;

}

/* Responsive */

@media(max-width:900px){

.login-container{

flex-direction:column;

height:auto;

width:95%;

}

.left-panel{

width:100%;

text-align:center;

padding:30px;

}

.right-panel{

width:100%;

padding:30px;

}

.login-box{

width:100%;

}

}
@import url("../css/product-theme.css");
